body {
  background-image: url(./img/clouds.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.bloom,
.flora,
.musa {
  position: relative;
}

.bloom-img,
.flora-img,
.musa-img {
  width: 70px;
}

.bloom-img {
  z-index: 1;
}

.flora {
  z-index: 2;
}

.musa {
  left: 400px;
  bottom: 50px;
  z-index: 3;
}

